.reaction {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.icon {
    width: 10px;
    height: 11px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    user-select: none;
}

.text {
    width: 27px;
    height: 17px;
    text-align: left;
    font: normal normal 600 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #AAAAAA;
    opacity: 1;
    user-select: none;
}

.like-false {
    background-image: url(../../../../assets/images/arrow-alt-down-1.svg);
}

.like-true {
    background-image: url(../../../../assets/images/arrow-alt-down-2.svg);
}

.dislike-false {
    background-image: url(../../../../assets/images/arrow-alt-down.svg);
}

.dislike-true {
    background-image: url(../../../../assets/images/arrow-alt-down-2.svg);
    transform: rotate(180deg);
}

.comments-icon {
    background-image: url(../../../../assets/images/comment-alt-dots.svg);
    width: 14px;
    height: 14px;
}