<div class="container">
    <app-comment-container [path]="path" [like]="like" [dislike]="dislike" [text]="text" [profileImage]="profileImage" [username]="username" [date]="date" [time]="time"></app-comment-container>
    <app-comment-reply-container [profileImage]="'../../../../../../assets/images/4cf433f8d4d5885fad094245b3920133.png'" [username]="'username'" [date]="'3d'" [time]="''"></app-comment-reply-container>
    <app-thread-container [profileImage]="profileImage"></app-thread-container>
</div>