.profile-image {
    width: 35px;
    height: 37px;
    background: transparent url('../../../../assets/images/333db814aa02093c1d7287796c88ff58.png') 0% 0% no-repeat padding-box;
    border-radius: 25px;
}