.comment-container {
    width: 459px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-bottom: 15px;
}

.more {
    text-align: right;
    text-decoration: underline;
    font: normal normal normal 11px/15px Open Sans;
    letter-spacing: 0.09px;
    color: #03B425;
    padding-right: 15px;
}

.comment-image {
    width: 286px;
    height: 163px;
    border-radius: 25px;
    margin-left: 60px;
}